<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:3000/css/test.css">
    <title>EMISHA | ABOUT</title>
    <link rel="icon" type="image/ico" href="http://localhost:3000/pic/image.jpg" />
</head>
<body>
<fieldset>

<legend style="text-align:right;"><h2>ABOUT US</h2></legend>
<p>
ABOUT OUR PROJECT GROUP:-<br><br>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbspWelcome to our project group. We have four members in our group: N.priyajit, Arup Kumar Subudhi, Subham Sahoo, and Jugal Kishore Patra. We are from Ravenshaw University, Cuttack, Odisha. We are still pursuing ITM (Information Technology Management) at Ravenshaw University. In 2019 we are going to pass out. Our group members are technology oriented. We have studied many kinds of coding like Java, C, C++, Data Structure, PHP, HTML, CSS, JS. Now we are intrested to learn other kind of Languages like Python, JavaScript, VBScript, Graphic design in C, HTML...etc etc.
</p>
<p>
ABOUT UNIVERSITY:-<br><br>
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbspRavenshaw University is one of the oldest and the best-known education place in India. It was established in 1868, about 147 years old. The college has won many academic achievements. The glorious history of this great institute is, in a manner of speaking, the history of modern Odisha. Some student come from other states as well as countries to study in this institution. This Institute provides many features for the students like hostel, library, Food, Sports and other Cultural activities.</p> 
	
	<p>
	ABOUT OUR PROJECT:-<br><br>
	&nbsp&nbsp&nbsp&nbsp &nbsp &nbspWe are creating one project known as "EMISHA". It is one of the best web projects we have ever made.
	 It is a fully functional website, here,
	  we can also communicate with a bot to find some information about the event named HACKATHON.  It can be very helpful for everyone who need some particular information. I hope you enjoy our project. You are satisfied with our design. So, Thank You. VISIT AGAIN.</p> 
</fieldset>
</body>
</html>