<html>
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://localhost:3000/css/test.css">
    <title>EMISHA | CONTACT</title>
    <link rel="icon" type="image/ico" href="http://localhost:3000/pic/image.jpg" />
</head>



<body>





<div dir="ltr" style="text-align: left;" trbidi="on">
<div dir="ltr" style="text-align: left;" trbidi="on">
entered email address will not publish

<style>
.tb-contact-form-widget{background-color:#A4A4A4;background-image: url("https://2.bp.blogspot.com/-JgcTvhPBO1o/WU1E2reu27I/AAAAAAAAAE4/op_A1zV78IMyRhQYKGV1zbcXtX3eybwNACPcBGAYYCw/s1600/to-contact-img-2.jpg");background-repeat: repeat;background-position: 100% 100%;color:black;padding:25px;}
.srbtn{display:inline-block;}
.cform-button, .btn-reset{background-color:#f1f1f1;padding:5px 30px;}
.cform-button:hover {background-color: #2980b9;color: #000;}
.btn-reset:hover {background-color: red;color: #000;}
.tb-contact-form-widget h3{text-align:center;margin:20px 0;padding:10px 0;border-top: 1px dotted #f5f5f5;}
.c-form-name, .c-form-email { width: 50%; max-width: 50%; margin-bottom: 10px;padding: 10px;border: 1px solid #CCC;border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #C0C0C0;
-webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #C0C0C0;
box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #C0C0C0;}
.c-form-email-message { width: 95%; max-width: 95%; margin-bottom: 10px;padding: 10px;border: 1px solid #CCC;border-radius: 5px;box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #C0C0C0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-box-shadow: 0 1px 1px #ccc inset, 0 1px 0 #C0C0C0;
-webkit-box-shadow: 0 1px 1px #CCC inset, 0 1px 0 #FFF;}
.c-form-name, .c-form-email, .c-form-email-message input:focus{background-color: #FFF;box-shadow: 0 0 0 1px #E8C291 inset;border-color: #E8C291;outline: none;
-moz-box-shadow: 0 0 0 1px #e8c291 inset;
-webkit-box-shadow: 0 0 0 1px #E8C291 inset;}
.b-social-buttons{list-style-type:none;text-align:center;}
.b-social-buttons li{display:inline-block;padding:15px;background-color:#f5f5f5;border-radius:5px;}
.b-social-buttons li a{color:#333;text-decoration:none;}
#ContactForm1_contact-form-success-message, #ContactForm1_contact-form-error-message{width:100%;margin-top:35px;}
</style>  
<div class="tb-contact-form-widget">
<form name="contact-form">
<div class="form-name">
<i class="fa fa-pencil-square-o"></i> Your Name *: 
<input class="c-form-name" id="ContactForm1_contact-form-name" name="name" size="30" type="text" value="" /></div>
<div class="form-email">
<i class="fa fa-envelope-e"></i> E-mail Address *: 
<input class="c-form-email" id="ContactForm1_contact-form-email" name="email" size="30" type="email" value="" /></div>
<div style="clear: both;">
</div>
<div class="form-message">
<i class="fa fa-keyboard-o"></i> Message *:
<textarea class="c-form-email-message" cols="25" id="ContactForm1_contact-form-email-message" name="email-message" rows="5"></textarea>
<div class="srbtn">
<input class="cform-button" id="ContactForm1_contact-form-submit" type="button" value="Submit" /><input class="btn-reset" type="reset" value="Clear" /></div>
<div class="contact-form-error-message" id="ContactForm1_contact-form-error-message">
</div>
<div class="contact-form-success-message" id="ContactForm1_contact-form-success-message">
</div>
<h3>
Our Social Sites</h3>
<ul class="b-social-buttons">
<li><a class="btn-lg" href="https://plus.google.com/communities/103403528797615437980"><i class="fa fa-google+"> <span class="network name">Google+</span></i></a></li>
</ul>
</div>
</form>
</div>
you can send me an email through this email address ...
Email id :-<a href="mailto:technology1249@gmail.com"><span style="color: blue;"> technology1249@gmail.com</span></a></div>






</div>

</body>
</html>